//wq 2018/9/3
.m-bottom(@param) {
  margin-bottom: @param;
}
.m-right(@param) {
  margin-bottom: @param;
}
.height(@param){
  height:@param
}
.width(@param){
  width:@param
}
.icon-asterisk:before{
  display: inline-block;
  margin-right: 4px;
  content: "*";
  font-family: SimSun;
  line-height: 1;
  font-size: 14px;
  color: #f5222d;
}
.required{
  .ant-form-item-label{
    label:before{
      display: inline-block;
      margin-right: 4px;
      content: "*";
      font-family: SimSun;
      line-height: 1;
      font-size: 14px;
      color: #f5222d;
    }
  }
}



.row-bottom{
  .m-bottom(30px)
}
.btn-right{
  .m-right(15px);
}
.main-content{
  padding: 24px;
  background: #ffffff;
  min-height: 380px;
}
.ant-form-item-children{
  .ant-row-flex{
    .ant-row{
      .m-bottom(0)
    }
  }
}

/**  tabs-start **/
.user-tabs-button{
  .tabs-bar{
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 16px 0;
    outline: none;
    -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .ant-radio-button-wrapper{
    margin: 0;
    border: 1px solid #e8e8e8;
    border-bottom: 0;
    border-radius: 4px 4px 0 0!important;
    background: #fafafa;
    padding: 0 16px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    line-height: 38px;
    height: 100%;
  }
  .ant-radio-button-wrapper-checked{
    background: #fff;
    border-color: #e8e8e8!important;
    color: #1DA57A;
    padding-bottom: 1px;
    box-shadow: -1px 0 0 0 #e8e8e8;
  }
  .ant-radio-button-wrapper-checked:hover {
    border-color: #e8e8e8;
    -webkit-box-shadow: -1px 0 0 0 #e8e8e8;
    box-shadow: -1px 0 0 0 #e8e8e8;
    color: #3db389;
  }
  .ant-radio-button-wrapper:not(:first-child){
    border-left:none;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    content: "";
    display: block;
    top: 0;
    left: -1px;
    width: 0;
    height: 0;
    position: absolute;
    background-color: #d9d9d9;
  }
}
/**  tabs-end **/

/** 滚动条-start **/
.scrollbar{
  border: 1px solid rgb(217, 217, 217);
  overflow-y: scroll;
  .height(200px);
  .width(500px);
}
/** 滚动条-end **/
.deletedContains{
  .ant-form-item-label{
        text-align: left;
  }
}
@item_MarginBottom:10px;
.ant-modal .ant-transfer-list{
  height: 350px;
}
.ant-modal .ant-transfer{
  margin-left: 33px;
}
.ant-row .ant-form-item{
  margin-bottom: @item_MarginBottom;
}
.ant-advanced-search-form .ant-row .ant-form-item{
  margin-bottom: @item_MarginBottom;
}
.ant-modal-body .ant-form .ant-form-item{
  margin-bottom: @item_MarginBottom;
}
.ant-table-body>.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 8px 8px!important;
}